[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
codetiming = "*"
devtools = {extras = ["pygments"], version = "*"}
glom = "*"
jupyterlab = "*"
nb-mypy = "*"

[dev-packages]
black = {extras = ["jupyter"], version = "*"}
isort = "*"
mypy = "*"
pre-commit = "*"
ruff = "*"
jupyterlab-code-formatter = "*"

[requires]
python_version = "3.10"

[scripts]
fmt = "black ."
sort = "isort ."
type = "mypy ."
notebooks = "jupyter lab"
