[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
nb-mypy = "*"
devtools = {extras = ["pygments"], version = "*"}
codetiming = "*"

[dev-packages]
mypy = "*"
pre-commit = "*"
ruff = "*"
jupyterlab-code-formatter = "*"

[requires]
python_version = "3.12"

[scripts]
lint = "ruff lint ."
fmt = "ruff format ."
type = "mypy ."
notebooks = "jupyter lab"
